body.popup {
  width: 350px;
}

body.options {
  width: 500px;
  height: 400px;
}

nav {
  position: relative;
}

nav h5 {
  position: absolute;
  left: 0;
  right: auto;
  display: inline-block;
  transition: all 2s ease;
}

nav h5 a, nav h5 a:focus, nav h5 a:hover {
  text-decoration: none;
  cursor: default;
  color: rgb(34,34,34);
}

nav h5 a:focus {
  outline: none;
}

nav span {
  display: none;
  opacity: 0;
  transition: opacity 2s;
}

nav.options {
  height: 400px;
  width: 100px;
  display: inline-block;
  vertical-align: top;
  background-color: #efefef;
  border-right: 1px solid lightgray;
  padding: 8px 5px;
}

.tabs {
  display: inline-block;
}

div.options {
  padding: 0;
}

nav.options ul {
  list-style: none;
  padding: 10px;
  line-height: 1.6em;
}

nav.options ul a:hover {
  text-decoration: none;
}

nav.project_view h5 {
  right: 0;
  left: auto;
  transition: all 2s ease;
}

nav.project_view h5 a {
  cursor: pointer;
  text-decoration: none;
  color: #008cba;
}

nav.project_view span {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 11px;
  line-height: 1.1;
  opacity: 1;
  transition: opacity 2s;
}

.options_content {
  display: inline-block;
  width: 300px;
}

body > div {
  padding: 0 10px;
}

div#project_list a {
  cursor: pointer;
  font-size: 12px;
  padding: 8px 12px;
}

div#project_list .active a {
  font-weight: bold;
}

.project_selector .projects_list {
  padding: 0 15px;
}

.options_content .project_selector_item {
  list-style: none;
  padding: 5px;
}

#project_list .commit_message {
  cursor: default;
}

#project_list .list-group {
  margin-bottom: 10px;
}

#project_list .list-group-item .repo_name {
  display: inline-block;
  width: 270px;
}

#project_list .list-group-item .badge {
  display: inline-block;
}

.list-group {
  max-height: 450px;
  overflow-y: scroll;
}

footer {
  height: 20px;
  margin-bottom: 10px;
}

footer .btn-link:focus {
  outline: none;
  color: #008cba;
  text-decoration: none;
}

div.branch_info {
  display: inline-block;
}

div.branch_info a {
  color: rgb(34,34,34);
}

div.branch_info a:hover {
  text-decoration: none;
  color: #008cba;
}

div.branch_info .commit_message, div.branch_info .branch_name {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.branch_status {
  display: inline-block;
  float: right;
}

div.branch_status span.glyphicon-repeat {
  padding: 6px;
  border-radius: 12px;
}

.glyphicon-chevron-right {
  padding: 6px;
  border-radius: 12px;
  vertical-align: top;
}

form {
  margin-top: 15px;
}

span.glyphicon-repeat.alert-info {
  -webkit-animation: spinner linear infinite 1s;
  cursor: default;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

span.checkbox {
  margin: auto;
}

span.checkbox label {
  padding: 0;
  font-size: 14px;
}

.project_selector {
  display: inline-block;
  padding: 15px 0;
}


.bootstrap-switch {
  margin-right: 10px;
}

.alert-warning {
  background-color: #feb71a;
}

.alert-success {
  background-color: #60cc69;
}

.alert-danger {
  background-color: #fe402c;
}

.alert-info {
  background-color: #5a95e5;
}
